@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  outline: 0;
}
ul, li {
  list-style: none;
}
a:link {
  text-decoration: none; /*링크 밑줄 삭제*/
}
a, button, label {
  display: inline-block;
}
button {
  outline: none; /*버튼 박스 외관선 삭제*/
}
button, img {
  vertical-align: middle; /*중앙으로 띄움*/
}
.static {
  width: 1190px;
  margin: 0 auto;
}
/* font 관련 설정 */
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px/1.2;
  color: #222;
}
#gnb li a { /*카테고리 기본 폰트*/
  font-family: 'Roboto';
  font-weight: 400;
  color: #444;
}
#gnb ul li:hover a { /*hover 시 색 변환*/
  color: #3a466a;
}
/* main */
.main .aside {
  position: fixed;
  top: 160px;
  right: 50%;
  margin-right: -762px;
  z-index: 9;
}
.aside-insta {
  margin-top: 397px;
  display: block;
}
/* header */
#header {
  height: 123px; /*헤더 높이*/
  background-color: #fff;
  transition: all 0.5s;
}
#header:after {
  content: '';
  display: block;
  position: absolute;
  top: 122px;
  left: 0;
  width: 100%;
  height: 230px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
#header.open:after { /*서브메뉴 배경*/
  top: 122px; /*상단으로부터 122px아래 위치(헤더 높이 123px)*/
  height: 231px;
  background-color: rgba(242, 242, 242, 0.9);
  opacity: 1;
  z-index: 11;
  visibility: visible; /*열리면 보임*/
}
#header.open #gnb>.mainmenu>li>.submenu {
  z-index: 12; /*서브메뉴는 배경 위 레이어*/
  visibility: visible;
  opacity: 1;
}
#header.sticky, #header.on {
  position: fixed;
  width: 100%;
  z-index: 101;
}
#header .static::after {
  content: '';
  display: block;
  clear: both;
}
/* #header.on.open::after {
  height: 300px;
  background-color: #f3f3f3;
}
#header .static {
  position: relative;
} */
/*헤더 로고*/
#header .logo {
  float: left;
  margin-top: 30px;
}
#header .logo a {
  display: block;
  width: 132px;
  height: 64px;
  background: url(../img/logo.png) no-repeat;
  font-size: 0;
}
/*상단 메뉴*/
#gnb {
  float: left; /*로고 옆에 나란히 위치*/
  margin: 63px 0 4px 57px;
}
#gnb>.mainmenu>li {
  float: left;
  position: relative;
}
#gnb>.mainmenu>li>a {
  display: block;
  padding: 0 29px;
  height: 18px;
  font-size: 15px;
  line-height: 1.2;
  color: #444;
  text-align: center;
  text-transform: uppercase; /*소문자를 대문자로 변환*/
  font-weight: 500; 
}
/* #gnb .mainmenu {
  overflow: hidden;
  height: 60px;
  border: lightsalmon solid 1px;
}
#gnb .mainmenu:hover {
  height: 270px;
}
#gnb .mainmenu li a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #444;
  border: lightseagreen solid 1px;
}
#gnb ul>li.on {
  color: hotpink;
}
#gnb .mainmenu li:hover a{
  color: hotpink;
}
#gnb .mainmenu:hover .submenu {
  visibility: visible;
} */

#gnb .submenu li {
  display: block;
  padding: 3px 0 10px 0;
  
}
/* #gnb .mainmenu:hover li .submenu:hover li a{
  color: hotpink;
  font-weight: bold;
  text-decoration: underline;
} */
/* #gnb>.mainmenu>li>.submenu>li>a:hover{text-decoration:underline;font-weight:700;}
#gnb>.mainmenu>li:hover a{color:hotpink} */

#gnb>.mainmenu>li>.submenu {
  position: absolute;
  width: 100%;
  padding-top: 60px;
  z-index: -1;
  text-align: center;
  visibility: hidden;
  opacity: 1;
  height: 180px;
}
/* #gnb>ul>li>.submenu:hover {
  z-index: 12;
  visibility: visible;
  opacity: 1;
} */
#gnb .submenu>li>a {
  padding-top: 0.5rem 0;
  font-size: 14px;
  font-family: 'Roboto';
}
#gnb .submenu>li>a:hover {
  text-decoration: underline;
  font-weight: 700;
}
#gnb>.mainmenu>li.on a {
  color: #3a466a;
}
#gnb>.mainmenu>li:nth-child(1)>a { width: 94px; }
#gnb>.mainmenu>li:nth-child(2)>a { width: 54px; }
#gnb>.mainmenu>li:nth-child(3)>a { width: 52px; }
#gnb>.mainmenu>li:nth-child(4)>a { width: 114px;}
#gnb>.mainmenu>li:nth-child(5)>a { width: 64px; }
#gnb>.mainmenu>li:nth-child(6)>a { width: 84px; }
/*가맹문의 버튼*/
#header .btn {
  float: right;
  margin-top: 55px;
  width: 133px;
  background-color: #00a5b1;
  border-radius: 20px;
  padding: 8px 0 8px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
/*언어 선택*/
#header .lang {
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 12px;
}
#header .lang a {
  display: inline-block;
  padding: 0 5px 0 6px;
  font-size: 12px;
  font-weight: bold;
}
.lang .kr {
  color: #444;
}
.lang .en {
  position: relative;
  color: #707070;
}
.lang .en::before {
  content: '';
  display: block;
  position: absolute;
  top: 3px; left: 0;
  width: 1px;
  height: 9px;
  background: #d4d4d4;
}
/* footer */
footer {
  display: block;
  height: 209px;
}
.footer-top {
  height: 43px;
}
.footer-top .static {
  position: relative;
  padding-bottom: 27px;

}
.footer-top .static ul li span {
  display: inline;
}
.footer-top ul {
  overflow: hidden;
}
.footer-top ul li {
  display: block;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 30px;
}
.footer-top ul li a {
  color: #3a466a;
}
.footer-top ul li span {
  color: #00a6b1;
}
.footer-top .btn-top {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/ico-arr-top.png);
  display: inline-block;
  width: 27px;
  height: 15px;
  font-size: 0;
  border: 0;
  outline: 0;
}

.footer-btm {
  height: 163px;
  border-top: 3px solid #3a466a;
}
.footer-btm .static {
  overflow: hidden;
  padding: 25px 0 50px;
}
.footer-btm-info {
  float: left;
  padding-left: 180px;
  background: url(../img/footer-logo.png) no-repeat 0 5px;
}
.footer-btm-info .info {
  font-size: 12px;
  font-weight: bold;
}
.footer-btm-info address {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 20px;
  font-style: normal;
}
.footer-btm-info .info span {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
}
.footer-btm-info .info .tt {
  margin-right: 10px;
}
.footer-btm-info .info .ts {
  margin-right: 20px;
}
.footer-btm-info .copy {
  margin-top: 30px;
  color: #b8b8b8;
  font-weight: 300;
  font-size: 12px;
}
.footer-btm-sns {
  float: right;
}
.footer-btm-sns a {
  margin: 0 4px;
}
.ico-fb, .ico-inst, .ico-youtube, .ico-app {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
}
.ico-fb {
  background: url(../img/ico-fb.png) no-repeat 50% 50%;
}
.ico-inst {
  background: url(../img/ico-insta.png) no-repeat 50% 50%;
}
.ico-youtube {
  background: url(../img/ico-youtub.png) no-repeat 50% 50%;
}
.footer-btm-sns a:last-child {
  margin-right: 0;
}
.ico-app {
  background: url(../img/ico-app.png) no-repeat 50% 50%;
}