@charset "utf-8";


/*paging*/


.static{width:1190px;margin:0 auto}


/*main*/
.main-slider{position: relative;left:50%;width:2560px;margin-left:-1280px}

.contents{position: relative;}
.contents:after{content:'';display:block;clear:both;}
.contents>h3{padding:60px 0 28px;font-size:22px;font-weight: 500;color:#3a466a;}
.contents-left{float:left;width:930px;}
.contents-left .btn-wp{margin:-16px 0 100px;text-align:center;}
.contents-right{float:right;width:260px;margin-bottom:170px;background:#C8E2E0 url(../../images/m-cafe-bg.jpg) no-repeat 50% 0}
.contents-right h3{padding:30px 20px 80px;font-size:16px;font-weight:500;color:#00a5b1;line-height:1.38;}

/*Contents 앞에 짝대기*/
.title{position: relative;padding-left:18px; letter-spacing:-0.7px;}
.title:before{content:'';display:block;position:absolute;top:9px;left:0;width:12px;height:2px;background:#3a466a} 
/*Contents 정렬*/
.grid-item{float:left;width:260px; margin-bottom:40px} 
/*Contents 글씨색 및 글씨체*/
.grid-item-txt{padding:17px 0 20px}
.grid-item-txt .cate{margin-bottom:10px;font-size:12px;color:#888;font-weight:500}
.grid-item-txt .title{color:#222;font-size:14px;line-height:1.43}
/*Contents 컨첸츠 더보기 정렬*/
.contents-left .grid-item{margin-right:50px}

/*옆부분 설정*/
.contents-cafe-item{text-align:center;margin-bottom:40px;}
.contents-cafe-item .txt{padding:30px 20px 20px;}
.contents-cafe-item .con{font-size:14px;color:#222;text-align: center;line-height:1.43}
.contents-cafe-item h4{margin:0 0 16px;font-size:16px;font-weight:500;color:#000}
.contents-cafe-item a{display:inline-block;width:117px;height:29px;line-height:29px;background:#00A5B1;border-radius:15px;color:#fff;font-size:12px}
/*컨텐츠 더보기 설정*/
.btn-more{display:inline-block;width:117px;height:29px;line-height:29px;text-align:center;border-radius:15px;font-size:12px;border:1px solid #3A466A;color:#3A466A}
/*맨아래 글씨 하얗게 해주는 설정*/
.btn-plus{display:block;position:relative;width:24px;height:24px;font-size:0}


/*아래 배경색*/
.hello-again{position:relative;margin-bottom:80px;background:#f2f2f2}
/*HelloAgain 각종 설정*/
.hello-again .static{position: relative;height:1530px;z-index:1;}
.hello-again h3{position:absolute;top:0;left:0;width:600px;height:242px;}
.hello-again .ha-bx1{position:absolute;width:600px;height:476px;top:242px;left:0}
.hello-again .ha-bx1 a{display:block;width:300px}
.hello-again .ha-bx1 .tit-ar{position: absolute;top:0;left:0;width:300px;height:476px;background:#fff;text-align: center;}
.hello-again .ha-bx1 .tit-ar img{margin-top:109px}
.hello-again .ha-bx1 .tit-ar p{padding-top:29px;text-align:center;font-size:14px;color:#3a476a;line-height:1.43;}
.hello-again .ha-bx1 .pho-ar{position: absolute;top:0;right:0;width:300px;height:476px;}
.hello-again .mov-ar{position: absolute;top:0;right:0}


.hello-again .pho-ar2{position: absolute;left:0;bottom:0;width:600px;height:812px}
.hello-again .pho-ar2 img{width:100%;height:812px}
.hello-again .pho-ar3{position: absolute;top:618px;left:600px;width:330px;height:710px;}
.hello-again .pho-ar3 img{width:331px;height:710px}
.hello-again .pho-ar4{position: absolute;top:618px;right:0;width:260px;height:476px}
.hello-again .pho-ar4 img{width:100%;height:476px}


.hello-again .ha-shop{position: absolute;bottom:0;right:0;width:260px;height:436px;background:#838dab}
.hello-again .ha-news{position: absolute;right:260px;bottom:0;width:404px;height:202px;background:#d5bbb4;}
.hello-again .ha-event{position: absolute;left:123px;bottom:0;width:404px;height:202px;background:#d2c7c3;}
.hello-again .ha-news h4,  .ha-event h4, .ha-shop h4{position:absolute;font-size:20px;font-family:'Roboto';font-weight: 700;color:#fff;letter-spacing:0;}
.hello-again .ha-news h4,  .ha-event h4{top:58px;left:40px;}
.hello-again .ha-news .btn-plus, .ha-event .btn-plus{position: absolute;left:40px;bottom:69px}
.hello-again .ha-news img,  .ha-event img{position: absolute;top:0;right:0}
.hello-again .ha-shop h4{bottom:80px;left:40px;}
.hello-again .ha-shop .btn-plus{position: absolute;left:40px;bottom:31px}


a, b, body, br, div, h3, h4, head, hr, html, img, li,link, meta, p,section, span, style,title, ul {margin: 0; padding: 0; }
ul,ol,li{list-style: none;}
